<link href="<%= root_path %>assets/styles/newsContents/newsContents.css" rel="stylesheet" type="text/css" />
<div class="wrap">
  	<div class="container">

  		<!-- 校园特卖  start -->
  		<div id="school_sale">
  			<div class="saleTitle"><em>校园特卖:</em></div>
  			<div class="saleList">
  				<ul class="saleListUl">
  					<li class="item">
  						<a href="#" class="keyHref">娃哈哈</a>
  					</li>
  					<li class="item">
  						<a href="#" class="keyHref">每天10点</a>
  					</li>
  					<li class="item">
  						<a href="#" class="keyHref">确保低价</a>
  					</li>
  				</ul>
  				<div class="clear"></div>
  			</div>
  			<div class="clear"></div>
  		</div>
  		<!-- 校园特卖   end -->

  		<!--透明块  start-------->
  		<div id="topBorder" class="transparent"></div>
  		<div id="ltBorder" class="transparent"></div>
  		<div id="rtBorder" class="transparent"></div>
  		<!--透明块  end-->


  		<!---mainContainer白色背景盒子 start------>
  		<div id="mainContainer">
  			<!---mainContain内容大盒子 start-------->
  			<div id="mainContain">

  				<!-----左侧导航  start-------------------->
  				<div id="leftside">
  					<div id="sideNav">
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin1.png" />&nbsp;<span1>官方新闻</span1><br />
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin3_03.png" />&nbsp;<a href="#">湖工要闻</a><br />
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin2.png" />&nbsp;<a href="#">院系新闻</a><br />
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin2.png" />&nbsp;<a href="#">官方活动</a><br />
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin2.png" />&nbsp;<a href="#">招聘会</a>&nbsp;&nbsp;&nbsp;<br />
  						<img src="<%= root_path %>assets/styles/newsContents/images/coin2.png" />&nbsp;<a href="#">实习公告</a><br />
  					</div>
  					<div id="bg"></div>
  				</div>
  				<!-----左侧导航 end-------------------->



           <!-------右侧   start----------------------->
           <div id="rightside">
           
           
  <!-----------------------右侧上部   start--------------->           
             <div id="topbk">
               <img src="<%= root_path %>assets/styles/newsContents/images/coin4.png" id="coin4" /><span2>&nbsp;官方新闻</span2>
               <span3>您现在的位置：首页>官方新闻>湖工要闻><span4>详细新闻</span4></span3>
             </div><img src="<%= root_path %>assets/styles/newsContents/images/coin5.png" id="line" />         
    <!-----------------------右侧上部  end--------------->
    
            <!------右侧正文    start------------------->
             <div id="middlebk">
             <p><span5>湖北工业大学召开党的群众路线教育实践活动动员大会</span5><br />
             <span6>文章出处：宣传部 作者：陈凌 照片来源：裴琴 发布时间：2013-07-17</span6><br /></p>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7月17日上午，湖北工业大学在博学堂召开深入开展党的群众路线教育实践活动动员大会，全面启动本部教育实践活动。省委督导组第十六组组长杨三爽，副组长朱继平，组员陈小楚、刘小成、龚小杰一行出席大会。校党委书记周应佳作动员报告。动员大会由校长刘德福主持。<br />
             <p><img src="<%= root_path %>assets/styles/newsContents/images/pic1.jpg" /><br /></p>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周应佳在报告中指出，在全党深入开展党的群众路线教育实践活动，是党的十八大作出的重要部署，也是当前党内一项重大的政治活动。我校作为湖北省第一批开展党的群众路线教育实践活动单位，从今年7月至11月，将按照省委和督导组部署，认真落实上级精神，在全校深入开展教育实践活动。<br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周应佳提出三点意见：一是提高认识，自觉把思想统一到中央和省委的精神上来，要求全体干部全面准确领会中央开展教育实践活动的重要意义，认真贯彻落实省委开展教育实践活动的工作部署，从学校事业发展的高度，认识开展教育实践活动的紧迫性，要通过开展党的群众路线教育实践活动，清除思想之弊，扫除行为之垢，整治不良风气，营造优良作风，提振精神气，拧成一股劲，为推进我校事业改革发展奠定坚实的思想和行动基础。二是把握要求，以实际行动推进教育实践活动有序开展。周应佳强调，为了有序推进教育实践活动，一定要通过教育实践活动的扎实开展，实现四个“进一步”的要求：党员干部的师生观点进一步增强，党员干部的工作作风进一步转变，突出问题得到进一步解决；制度建设得到进一步完善。他还强调，要健康有序的开展教育实践活动，必须坚持“正面为主、自觉开展批评和自我批评，开门搞活动、注意分类指导、领导带头”五项基本原则，认真抓实“学习教育听取意见、查摆问题开展批评、整改落实建章立制”三个环节；三是狠抓落实、确保教育实践活动取得明显成效。学校各级党组织、各单位、各部门要加强领导、明确责任、精心组织、具体指导。要自觉接受省委督导组对学校教育实践活动的指导和监督，权利支持和配合省委督导组的工作；要注重舆论引导，营造氛围；要坚持统筹兼顾，务求实效，以高度的政治责任感，良好的精神风貌和扎实的工作态度，把教育实践活动组织好、开展好、落实好，以此进一步加快学校转型步伐，力争早日把我校建成高水平工业大学和”工程师的摇篮“。<br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;省委督导组第十六组组长杨三爽作重要讲话。他强调，学校各级干部一定要充分认识开展党的群众路线教育实践活动的重大意义，切实增强责任感和使命感。他说，学校对教育实践活动高度重视，前期准备工作扎实认真，为教育实践活动的顺利开展奠定了良好的基础。<br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杨三爽重点介绍了督导组工作的主要责任和重点任务：第一是了解情况，提出建议；第二是全程参与指导民主生活会；第三是发现并督促解决突出问题；第四是注重发现总结典型经验；第五是及时反应情况、当好参谋助手。最后，他希望学校能采取有力措施，把思想和行动要统一到中央和省委的部署上来，认真组织好教育实践活动；深入理解中央和省委精神，既要完成好规定动作，又要设计好自选动作，确保教育实践活动扎实推进。<br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校全体校领导、进三年离退休校领导、省党代表、省政协委员，学校机关副处级以上党员干部、学院及直属单位党员领导班子成员、党员教授代表以及教职工党员代表200多人参加了动员会，与会人员填写了《湖北工业大学领导班子作风情况民主评议表》，并进行了现场投票。<br />
             
             <!-------------分享   start-------------->
             <span3>分享到：
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_03.png" /></a>
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_04.png" /></a>
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_05.png" /></a>
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_06.png" /></a>
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_07.png" /></a>
             	<a href="#"><img src="<%= root_path %>assets/styles/newsContents/images/8_08.png" /></a>
             	<img src="<%= root_path %>assets/styles/newsContents/images/8_09.png" />
             </span3>
             <!-------------分享   end-------------->
             
         </div>
             <!------右侧正文    end------------------->
           </div>
           <!-------右侧   end----------------------->
           </div>
           <!---mainContain内容大盒子 end-------->
       </div>
       <!---mainContainer白色背景盒子 end------>

   </div>
</div>  